<div class="jumbotron jumbotron-main" parallax-background parallax-ratio="0.6">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-1"></div>
			<div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 jumbotron-content">
				<img class="center-block" width="279" height="285.75" src="http://i47.photobucket.com/albums/f154/uninvisible/YqDV2_zpspwcdfvck.png" alt="Vault Boy">
			</div>
			
			<div class="col-lg-5 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center-xs bio-heading jumbotron-content">
				<h1 class="jumbotron-content">Hello, world!</h1>
					<div class="professions-text">
						Front-End Web Devoloper<br>						
						Copy-Editor<br>	
						Graphic Designer<br>
					</div>	
			</div>
			<div class="col-lg-1 col-xs-1"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<a href="http://www.github.com/warlyware" target="_blank">
				<img src="img/github.png" class="img-responsive social-icon center-block">
			</a>
		</div>
		<div class="col-xs-3">
			<a href="http://www.twitter.com/warlyware" target="_blank">
				<img src="img/twitter.png" class="img-responsive social-icon center-block">
			</a>
		</div>
		<div class="col-xs-3">
			<a href="http://behance.net/danwardfl" target="_blank">			
				<img src="img/behance.png" class="img-responsive social-icon center-block">
			</a>
		</div>
		<div class="col-xs-3">
			<a href="mailto:danward@gmail.com" target="_blank">
				<img src="img/email.png" class="img-responsive social-icon center-block">
			</a>
		</div>
	</div>
</div>
