<div class="container paper">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-offset-1 col-md-7 col-lg-7 col-lg-offset-1">
			<h2>Colonic immune suppression, barrier dysfunction, and dysbiosis by gastrointestinal <i>bacillus anthracis</i> Infection</h2>
		</div>
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
			<img class="img-responsive logo-plosone" src="img/logo-plosone.png" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">		
			
			<div class="paper-info">
			Yaíma L. Lightfoot, Tao Yang, Bikash Sahay, Mojgan Zadeh, Sam X. Cheng, Gary P. Wang, Jennifer L. Owen, Mansour Mohamadzadeh<br><br>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Trends in Molecular Medicine (2015) | Published 03.2015</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
						( <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0100532" target="_blank">PLOS ONE</a> | <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4063899/" target="_blank">PMC</a> | 
						<a href="http://www.ncbi.nlm.nih.gov/pubmed/25577136" target="_blank">PubMed</a> )
					</div>
				</div>
			</div>
			<hr width="60%">
			<h3>Abstract</h3>
			<p class="text-justify">
				Gastrointestinal (GI) anthrax results from the ingestion of Bacillus anthracis. Herein, we investigated the pathogenesis of GI anthrax in animals orally infected with toxigenic non-encapsulated B. anthracis Sterne strain (pXO1+ pXO2-) spores that resulted in rapid animal death. B. anthracis Sterne induced significant breakdown of intestinal barrier function and led to gut dysbiosis, resulting in systemic dissemination of not only B. anthracis, but also of commensals. Disease progression significantly correlated with the deterioration of innate and T cell functions. Our studies provide critical immunologic and physiologic insights into the pathogenesis of GI anthrax infection, whereupon cleavage of mitogen-activated protein kinases (MAPKs) in immune cells may play a central role in promoting dysfunctional immune responses against this deadly pathogen.
			</p><br>
			<div class="paper-info">
				PMID: 24945934 [PubMed - indexed for MEDLINE] PMCID: PMC4063899 
			</div>
		</div>
	</div>
</div>