<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dan Ward</title>
	<!-- External Files -->
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Poiret+One|Comfortaa:400,300|Forum' rel='stylesheet' type='text/css'>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/style.css">

</head>
	<body>
		<div ng-include="'views/nav.html'" ng-controller="HomeCtrl"></div>
		<!-- Main UI -->
		<div ui-view class="main-ui"></div>

		<!-- Concatonated JavaScript Files -->
		<script src="js/script.js"></script>
	</body>
</html>