/* Keep max width of container at 970px */
@media (min-width: 1200px) {
	.container{
		max-width: 970px;
	}
}



/* Create class for centering text for displays under 767px */
@media (max-width: 767px) {

	.text-center-xs {
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	
	.jumbotron-main {
		background-image: none !important;
	}
	.tech-proficiency {
		background-image: none !important;	
	}
}

/*#################*/
/* General Styling */
/*#################*/

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0px 0 0;
}

h1, h2 {
	font-family: 'Comfortaa';
	font-weight: 400;
}

h3, h4, h5, h6, {
	font-family: 'Comfortaa';
}

p.body-copy {
	font-family: 'Forum';
	font-weight: 400;
	font-size: 1.4em;
}

.col-centered {
	display: inline-block;
	float: none;
	margin-right: -4px;
	text-align: left;
}

.container-wide {
	padding: 0;
	width: 100%;
}

.font-small-caps {
	font-variant: small-caps;
}

.main-ui {
	padding: 50px 0px 50px 0px;
}

.navbar-right {
	padding-top: 2px;
	font-family: 'Comfortaa';
	font-weight: 500;
	font-size: 1.2em;
}

.navbar-brand {
	font-family: 'Comfortaa';
	font-weight: 400;
	font-size: 1.8em;
}

.navbar-background {
	
}

.no-overflow {
	overflow-x: hidden;	
}

.social-icon {
	margin-top: 15px;
	opacity: 0.7;
	width: 100px;
	height: 100px;
}

.voffset {
	margin-top: 15px;
}

.well {
	min-width: 100%;
}

/*###########*/
/* Home Page */
/*###########*/

.iconset{ float:left;}
.iconset a{ float:left;}


/*##########*/
/* Bio page */
/*##########*/

/* Tech proficiency section */

.bio-heading {
	font-size: 1.3em;
}

.bio-lead {
	font-size: 1.2em;
}

.bio-text {
	/*font-size: 1.2em;	*/
}

.jumbotron-main {
	background-color: #B8D8E3;
	background-image: url('http://i47.photobucket.com/albums/f154/uninvisible/blue-leaves%203_zpsqdwdqzty.png');
	background-size: cover;
	box-shadow: 2px 35px 20px rgba(95, 140,170, 0.7) inset;	
	height: 100%;
	padding: 50px 0 30px 0;
}

.professions-text {
	font-family: 'Poiret One';
	font-size: 1.5em;
	line-height: 1.7em;
	padding-left: 15px;
	padding-top: 10px;
}

.rocketship {
	font-family: 'Forum';
	font-size: 5.0em;
	font-weight: 700;
}

.tech-proficiency {
	background-color: #B8D8E3;
	background-image: url('http://i47.photobucket.com/albums/f154/uninvisible/blue-leaves-full_zpswmnf258y.png');
	background-size: cover;
	box-shadow: 0px 5px 20px rgba(95, 140,170, 0.7) inset;	
	font-size: 1.8em;
}

.tech-proficiency .glyphicon {
	color: #FFF428;
	text-shadow: 2px 2px 10px black;
	padding-top: 5px;
}

.tech-row {
	background-color: rgba(95, 140,170, 0.2);
	border: 1px solid rgba(95, 140,170, 0.5);
	border-radius: 10px;
	box-shadow: 2px 2px 15px rgba(95, 140,170, 0.7) inset;	
	border-style: inset;
	padding-top: 6px;
}

.tech-type {
	font-size: 0.9em;
	font-family: 'Comfortaa';
	padding-left: 20px;
}

.tech-type a {
	color: #333;
}




/*#################*/
/*Copy-Editing Page*/
/*#################*/

.logo-emboj {
	border: 1px ridge white;
	border-radius: 10px;
	margin-top: 30px;
}

.logo-plosone {
	margin-top: 23px;
}

.logo-trends {
	margin-top: 23px;
}

.paper {
	padding-top: 20px;
}

.paper-info {
	font-family: "Forum";
	font-size: 1.2em;
}